BasedOnStyle: Microsoft
BraceWrapping:
    AfterControlStatement: Never
    AfterEnum: false
    AfterStruct: false
    BeforeCatch: false
    BeforeElse: false
PointerAlignment: Left
Cpp11BracedListStyle: false
